<section>
  <div class="container">
    <p class="text-center mt-5">Payment failed . Sorry for the inconvenience
      <br /><a href="/" class="btn btn-primary text-center mt-3">View
        products</a></p>
  </div>
</section>